[Desktop Entry]
Name=Komorebi Desktop
Comment=Wallpapers (Wallhaven, MoeWalls, osu!) & PFPs (pfps.gg) for Linux & Windows
Exec=komorebi-desktop
Icon=komorebi
Terminal=false
Type=Application
Categories=Graphics;Photography;Utility;
Keywords=wallpaper;wallhaven;moewalls;osu;pfps;avatar;background;desktop;hyprland;images;
StartupWMClass=komorebi-desktop
